*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 50px;
    background-color: lightgrey;
}


.theme{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: #fff;
}
.title, h4 {
    text-align: center;
    margin-bottom: 10px;
}
.subtitle {
    margin-bottom: 50px;
}
.savings_page{
    text-align: center;
    border-radius: 8px;
}

.savings_page_title {
    text-align: center;
}
.creating_page {
    height: 170px;
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;
}
.creating_page_content {
    margin-left: 15px;
}
.creating_page-title {
    height: 30px;
    background: lightgrey;
    padding-top: 5px;
    padding-left: 10px;
}


.entering_input {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 3px;
    width: 430px;
    padding: 5px;
}

.creating_page_subtitle {
    margin-top: 5px;
}
.bre {
    color: #000;
}
.myBtn:nth-child(2) {
    margin-right: 10px;
}
button{
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: dodgerblue;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.mode_btn  {
    margin-right: 15px;
}



.dark-mode-style{
    background-color: #000;
    color: #fff;
}

.dark-mode-subtitle {
    color: red;
}
.light-mode-subtitle {
    color:black;
}

.savings_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    color: #000;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 20px;
}
.delete_btn{
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

